
habbo-client-error {
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
}
habbo-client-closed, habbo-client-error {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    display: -ms-flexbox;
    padding: 48px 12px;
    z-index: 610;
    left: 0;
}
.client-error__background-frank {
    background-image: url(https://images.habbo.com/habbo-web/america/pt/assets/images/backgrounds/flash_error_bg.57539aa2.png);
    display: block;
    height: 250px;
    padding: 80px 17px 35px 242px;
    position: relative;
    width: 380px;
}
.client-error__text-contents {
    height: 253px;
    position: absolute;
    text-align: left;
}
.client-error__title {
    text-align: left;
}
.client-error__hotel-button-div {
    bottom: 30px;
    float: right;
    position: absolute;
    right: 30px;
}
.hotel-button {
    display: inline-block;
    line-height: 1.2;
    text-align: center;
    background-color: #ffb900;
    border-color: #ffea00;
    color: #000;
    border-radius: 5px 0 0 5px;
    border-width: 2px 1px 2px 2px;
    border-style: solid;
    margin-bottom: 4px;
    text-transform: uppercase;
    box-shadow: none;
    position: relative;
    margin-right: 20px;
    margin-top: -3px;
    padding: 6px 12px 6px 24px;
}
.hotel-button:before {
    border-width: 21px;
    top: -2px;
    border-color: transparent transparent transparent #ffea00;
    right: -43px;
}
.hotel-button:after, .hotel-button:before {
    border-style: solid;
    position: absolute;
    display: block;
    content: '';
}
.hotel-button__text {
    position: relative;
    padding-right: 27px;
    text-align: right;
    line-height: 26px;
}
.hotel-button__text:before {
    background-image: url(https://images.habbo.com/habbo-web/america/pt/assets/images/sprite.541175ea.png);
    background-position: -242px -434px;
    width: 21px;
    height: 26px;
    content: '';
    display: block;
    margin-top: -13px;
    position: absolute;
    top: 50%;
    right: 0;
}
.hotel-button:after {
    border-width: 19px;
    top: 0;
    border-color: transparent transparent transparent #ffb900;
    right: -38px;
}
/* h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-family: "Ubuntu Condensed","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    font-weight: 400;
    margin: .6em 0;
    line-height: 1.2;
} */
.hotel-button, h5, h6, p {
    font-size: 16px;
}
.client__buttons .client__close, .hotel-button {
    filter: drop-shadow(-1px 4px 0 rgba(0, 0, 0, .3));
}
/* a {
    color: #fff;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
} */